apiVersion: apps/v1
kind: Deployment
metadata:
  name: gbv-dashboard
  labels:
    app: gbv-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gbv-dashboard
  template:
    metadata:
      labels:
        app: gbv-dashboard
    spec:
      containers:
        - name: gbv-dashboard
          image: vlab-research/dashboard
          imagePullPolicy: Always
          resources:
            requests:
              cpu: '10m'
              memory: '10Mi'
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: gbv-bot-envs
          env:
            - name: TYPEFORM_URL
              value: 'https://api.typeform.com'
            - name: CUBEJS_API_SECRET
              value: 'notasecret'
            - name: CUBEJS_DB_TYPE
              value: 'postgres'
            - name: DB_DATABASE
              value: 'chatroach'
            - name: CUBEJS_DB_NAME
              value: 'chatroach'
            - name: DB_USER
              value: 'chatroach'
            - name: CUBEJS_DB_USER
              value: 'chatroach'
            - name: DB_PASSWORD
              value: ''
            - name: CUBEJS_DB_PASS
              value: ''
            - name: DB_HOST
              value: 'chatroach-cockroachdb-public.default'
            - name: CUBEJS_DB_HOST
              value: 'chatroach-cockroachdb-public.default'
            - name: DB_PORT
              value: '26257'
            - name: CUBEJS_DB_PORT
              value: '26257'
            - name: TYPEFORM_REDIRECT_URL
              value: 'http://localhost:3000/surveys/auth'
