env:
  - name: AUTH0_DOMAIN
    value: "https://vlab-pro.us.auth0.com/"
  - name: AUTH0_AUDIENCE
    value: "https://api-pro.vlab/"


envSecrets:
  - facebook-envs
  - db-envs

# shared ingress stuff
ingress:
  annotations:
    acme.cert-manager.io/http01-edit-in-place: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod

dashboard:
  replicaCount: 1
  image:
    repository: vlabresearch/vlab-dashboard-api
    tag: latest
    pullPolicy: Always
  resources: {}
  ingress:
    host: vlab-dashboard-api.curious.vlab.digital


# TODO: change to mapping to allow merging.
cronjobs:
  - name: literacy-data-api
    schedule: "10 * * * *"
    image:
      repository: "vlabresearch/source-literacy-data-api"
      tag: "latest"
      pullPolicy: Always
    env:
      - name: LITERACY_DATA_API_URL
        value: http://lit-data-api.default.svc.cluster.local:80
  - name: swoosh
    schedule: "30 * * * *"
    image:
      repository: "vlabresearch/swoosh"
      tag: "latest"
      pullPolicy: Always
  - name: adopt-ads
    schedule: "30 */4 * * *"
    image:
      repository: "vlabresearch/adopt"
      tag: "inference-data"
      pullPolicy: Always
    args:
      - python
      - malaria_ads.py
  - name: adopt-recruitment-data
    schedule: "10 */4 * * *"
    image:
      repository: "vlabresearch/adopt"
      tag: "inference-data"
      pullPolicy: Always
    args:
      - python
      - malaria_recruitment.py
  - name: adopt-audience
    schedule: "50 */4 * * *"
    image:
      repository: "vlabresearch/adopt"
      tag: "inference-data"
      pullPolicy: Always
    args:
      - python
      - malaria_audience.py



# try searching by ref in lit_data, quick hack to optimize this weekend
# figure out a/b
# add tarot
# create remarketing campaign manager


serviceAccount:
  create: true
  annotations: {}
  name: "" # use default
