.report-container {
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 0 3px 10px 3px rgba(100, 100, 100, 0.2);
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin-bottom: 10px;
}
