PG_URL=postgres://root@cockroachdb:26257/vlab
API_HOST=0.0.0.0
API_PORT=8080
AUTH0_DOMAIN=vlab-dev.us.auth0.com
AUTH0_AUDIENCE=https://api-dev.vlab/
FACEBOOK_REDIRECT_URI=http://localhost:3000/studies
# In order to run the facebook integration
# You will need to specify these parameters 
#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
